<table class="mt-4 text-center table table-bordered">
    <thead class=thead-dark>
        <tr>
            <th scope="col">{{listHeaders[0]}}</th>
            <th scope="col">{{listHeaders[1]}}</th>
            <th scope="col">{{listHeaders[2]}}</th>
            <th scope="col">{{listHeaders[3]}}</th>
            <th scope="col">{{listHeaders[4]}}</th>
            <th scope="col">{{listHeaders[5]}}</th>
            <th scope="col">{{listHeaders[6]}}</th>
            <th scope="col">{{listHeaders[7]}}</th>
        </tr>
    </thead>
    <tbody>
        <tr (mouseenter)="changeRow($event)" (mouseleave)="changeRow($event)" *ngFor="let simulation of simulations">
            <th (click)="toDetails(simulation)" scope="row">{{simulation.name}}</th>
            <td (click)="toDetails(simulation)">{{simulation.populationSize}}</td>
            <td (click)="toDetails(simulation)">{{simulation.infected}}</td>
            <td (click)="toDetails(simulation)">{{simulation.infectionRate}}</td>
            <td (click)="toDetails(simulation)">{{simulation.mortalityRate}}</td>
            <td (click)="toDetails(simulation)">{{simulation.dayUntilRecovery}}</td>
            <td (click)="toDetails(simulation)">{{simulation.dayUntilDeath}}</td>
            <td (click)="toDetails(simulation)">{{simulation.simulationDays}}</td>
            <td class="bin" (mouseenter)="changeBin($event)" (mouseleave)="changeBin($event)" (click)="delete(simulation)"><fa-icon [icon]="faBin"></fa-icon></td>
        </tr>
    </tbody>
</table>
<div class="col-12 text-center">
    <button (click)="newSimulation()" class="btn btn-success rounded-circle mb-2 pb-2">+</button>
</div>