<form class="m-4">
    <div class="form-row">
        <div class="col-md-6">
            <label>Nazwa symulacji</label>
            <input type="text" class="form-control">
        </div>    
        <div class="col-md-6">
            <label>Wskaźnik śmiertelności</label>
            <input type="number" min="0" class="form-control">
        </div>    
    </div>
    <div class="form-row">
        <div class="col-md-6">
            <label>Wielkość populacji</label>
            <input type="number" min="0" class="form-control">
        </div>    
        <div class="col-md-6">
            <label>Ilość dni do wyzdrowienia</label>
            <input type="number" min="0" class="form-control">
        </div>    
    </div>
    <div class="form-row">
        <div class="col-md-6">
            <label>Początkowa liczba chorych</label>
            <input type="number" min="0" class="form-control">
        </div>    
        <div class="col-md-6">
            <label>Ilość dni do śmierci</label>
            <input type="number" min="0" class="form-control">
        </div>    
    </div>
    <div class="form-row">
        <div class="col-md-6">
            <label>Zarażeni przez jedną osobę</label>
            <input type="number" min="0" class="form-control">
        </div>    
        <div class="col-md-6">
            <label>Czas symulacji w dniach</label>
            <input type="number" min="0" class="form-control">
        </div>    
    </div>
</form>